/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
.core {
  fill: var(--background-color);
}

.main-body {
  fill: var(--background-color);
  transition: linear fill .3s .05s;
}

.like-icon:hover .core, .like-icon:hover .main-body {
  fill: var(--border-color);
}

.like-icon:active .core, .like-icon:active .main-body {
  fill: var(--icon-fill);
}

.like-icon.is-liked .core, .like-icon.is-liked .main-body, .like-icon.is-liked .contour {
  fill: var(--icon-fill);
}

.sparks {
  opacity: 0;
}

.heart {
  transform-origin: 50% 50%;
}

@media (prefers-reduced-motion: no-preference) {

  @keyframes active-menu-button {
    from {
      left: -1px;
    }
    to {
      left: -5px;
    }
  }

  @keyframes heart-beat {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.15);
    }
  }

  @keyframes sparks-flashing {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  /*      animations header     */
  .theme-menu__button {
    transition: ease color .3s ;
  }

  .theme-menu__button::after {
    transition: ease width .3s;
  }

  .theme-menu__button:disabled::before {
    animation: active-menu-button ease-in-out alternate infinite .5s;
  }

  /*      animations card     */
  .button {
    transition: ease color .3s, ease box-shadow .3s;
  }

  .button::after {
    transition: ease-in-out transform .5s;
  }

  /*      animations heart-icon     */

  .core {
    transition: linear fill .3s;
  }

  .main-body {
    transition: linear fill .3s .05s;
  }

  .contour {
    transition: linear fill .3s .06s;
  }

  .like-icon.is-liked .heart {
    animation: heart-beat ease-in alternate .3s .1s;
  }

  .like-icon.is-liked .sparks {
    animation: sparks-flashing ease-in alternate .3s .3s;
  }
}